<article
  data-id="course"
  class="course"
  [ngClass]="course.topRated ? 'top-rated' : ''"
>
  <h3 class="title">
    {{ course.title }}

    @if (course.topRated) {
      <svg class="star">
        <use href="assets/icons.svg#star"></use>
      </svg>
    }
  </h3>
  <p class="description">{{ course.description }}</p>
  <ul class="info">
    <li class="info-item">
      <svg>
        <use href="assets/icons.svg#time"></use>
      </svg>
      <span>{{ course.duration | duration }}</span>
    </li>
    <li class="info-item">
      <svg>
        <use href="assets/icons.svg#calendar"></use>
      </svg>
      <span>{{ course.creationDate | date: 'd MMM, YYYY' : '' : locale }}</span>
    </li>
  </ul>

  <div class="action">
    <button
      class="btn btn-info"
      (click)="onEditCourse(course.id)"
    >
      <svg>
        <use href="assets/icons.svg#edit"></use>
      </svg>
      <span>{{ 'COURSE.BUTTONS.EDIT' | translate }}</span>
    </button>

    <button
      data-testingId="deleteButton"
      class="btn btn-info"
      (click)="onDeleteCourse(course)"
    >
      <svg>
        <use href="assets/icons.svg#delete"></use>
      </svg>
      <span>{{ 'COURSE.BUTTONS.DELETE' | translate }}</span>
    </button>
  </div>

  @if (deleteError && course.id === deleteError.id) {
    <div class="error-message">{{ deleteError.message }}</div>
  }
</article>
