<div class="login-page-container">
  <form
    class="form"
    [formGroup]="form"
    (ngSubmit)="onLogin()"
  >
    <h1>{{ 'LOGIN_PAGE.FORM.TITLE' | translate }}</h1>

    <div class="field">
      <p class="label">
        <label for="name">{{ 'LOGIN_PAGE.FORM.INPUTS.NAME.LABEL' | translate }}</label>
        <span>{{ 'REQUIRED' | translate }}</span>
      </p>
      <input
        id="name"
        type="text"
        class="form-control"
        placeholder="{{ 'LOGIN_PAGE.FORM.INPUTS.NAME.PLACEHOLDER' | translate }}"
        formControlName="name"
      >
    </div>

    <div class="field">
      <p class="label">
        <label for="password">{{ 'LOGIN_PAGE.FORM.INPUTS.PASSWORD.LABEL' | translate }}</label>
        <span>{{ 'REQUIRED' | translate }}</span>
      </p>
      <input
        id="password"
        type="password"
        class="form-control"
        placeholder="{{ 'LOGIN_PAGE.FORM.INPUTS.PASSWORD.PLACEHOLDER' | translate }}"
        formControlName="password"
      >
    </div>

    <div class="error-container">
      @if (error()) {
        <div class="error">{{ error() }}</div>
      }
    </div>

    <div class="actions">
      <button
        class="btn btn-link"
        type="button"
      >
        {{ 'LOGIN_PAGE.FORM.BUTTONS.FORGOT' | translate }}
      </button>

      <button
        class="btn btn-success btn-large"
        [disabled]="form.invalid || form.pending"
      >
        {{ 'LOGIN_PAGE.FORM.BUTTONS.LOGIN' | translate }}
      </button>
    </div>
  </form>
</div>
