<div class="container">
    <app-logo />

    <ul
      *appIfAuthenticated
      class="login"
    >
        <li>
            <svg>
                <use href="assets/icons.svg#user"></use>
            </svg>
            <span>{{ userName() }}</span>
        </li>
        <li>
            <button
              class="btn btn-link"
              (click)="onLogout()"
            >
                <svg>
                    <use href="assets/icons.svg#logout"></use>
                </svg>
                <span>{{ logoutButtonText }}</span>
            </button>
        </li>
    </ul>
</div>
