@use "variables";

$gap: 30px;

:host {
  position: sticky;
  top: 0;
  color: variables.$lightColor;
  background-color: variables.$headerBackgroundColor;
  z-index: 1;
}

.container,
.auth-container,
.language-container,
.login,
.login > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.login {
  gap: $gap;
}

.login > li {
  gap: 5px;
}

svg {
  width: 20px;
  height: 20px;
}

.auth-container {
  gap: $gap;
}

.language-container {
  gap: 5px;
}
