@use "variables";

:host {
  display: block;
  background-color: white;
  padding: 30px 0;
}

.active {
  font-weight: bold;
}

.segments {
  display: flex;
  align-items: center;
  gap: 5px;
}

.divider {
  color: variables.$infoColor;
}
