$bodyBackgroundColor: #f0f1f6;
$headerBackgroundColor: #404352;
$footerBackgroundColor: $headerBackgroundColor;
$lightColor: white;
$darkColor: black;
$infoColor: #30b5dc;
$warnColor: red;
$successColor: #9ac638;
$borderColor: #cccccc;
$dimColor: #888888;

$boxShadow: 2px 3px 5px rgba(0, 0, 0, .3);
