<div class="backdrop"></div>

<section class="modal-window">
  <header class="header">
    <h3 class="title">{{ title }}</h3>

    <button
      class="btn btn-link close"
      (click)="onAnswer(false)"
    >
      &times;
    </button>
  </header>

  <main
    class="content"
    [innerHTML]="text"
  ></main>

  <footer class="actions">
    <button
      class="btn btn-large cancel"
      (click)="onAnswer(false)"
    >
      {{ 'MODAL.BUTTONS.CANCEL' | translate }}
    </button>

    <button
      class="btn btn-large btn-success"
      (click)="onAnswer(true)"
    >
      {{ 'MODAL.BUTTONS.OK' | translate }}
    </button>
  </footer>
</section>
