<app-breadcrumbs />

<div class="container">
  <app-search (searchText)="onSearch($event)"/>

  <div class="courses-container">
    <button class="btn btn-info btn-add">
      <svg>
        <use href="assets/icons.svg#add"></use>
      </svg>
      <span>{{ addCourseButtonText }}</span>
    </button>

    @for (course of coursesToDisplay(); track course.id) {
      <app-course
        [course]="course"
        (delete)="onDeleteCourse($event)"
        [@appearance]
      />
    } @empty {
      <p
        data-testId="noCourseMessage"
        class="message"
      >
        {{ noCoursesMessage | uppercase }}
      </p>
    }

    @if (coursesToDisplay().length) {
      <button class="btn btn-load">{{ loadMoreButtonText | uppercase }}</button>
    }
  </div>
</div>
