<div class="container">
  <app-search (searchText)="onSearch($event)"/>

  <div class="courses-container">
    <button
      class="btn btn-info btn-add"
      (click)="onAddCourse()"
    >
      <svg>
        <use href="assets/icons.svg#add"></use>
      </svg>
      <span>{{ addCourseButtonText }}</span>
    </button>

    @if (error()) {
      <p class="error-message">{{ error() }}</p>
    } @else {

      @for (course of coursesToDisplay(); track course.id) {
        <app-course
          [course]="course"
          [deleteError]="deleteError()"
          (delete)="onDeleteCourse($event)"
          (edit)="onEditCourse($event)"
        />
      }

      @if (loadMoreError()) {
        <p class="error-message">{{ loadMoreError() }}</p>
      }

      @if (canLoadMore()) {
        <button
          class="btn btn-load"
          (click)="loadMore()"
        >
          {{ loadMoreButtonText | uppercase }}
        </button>
      } @else {
        <p
          data-testId="noCourseMessage"
          class="message"
        >
          {{ noCoursesMessage | uppercase }}
        </p>
      }
    }

  </div>
</div>
